* {
	margin: auto;
	padding: 0;
	box-sizing: border-box;
	font-family: "Raleway SemiBold";
}

body {
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #031625;
}

body::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(red, purple);
	clip-path: circle(30% at right 70%);
	z-index: -11111;
}

body::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(steelblue, hotpink);
	clip-path: circle(20% at 10% 10%);
	z-index: -11111;
}

.container-gc {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 1200px;
	flex-wrap: wrap;
	z-index: 1;
}

.container-gc .card-gc {
	position: relative;
	width: 280px;
	height: 400px;
	margin: 30px;
	box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	background: rgba(255, 255, 255, 0.1);
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	border-left: 1px solid rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(5px);
}


.container-gc .card-gc .content-gc {
	padding: 20px;
	text-align: center;
	transform: translate(0px);
	opacity: 1;
	transition: 0.5s;
}

/*.container .card .content {*/
/*	padding: 20px;*/
/*	text-align: center;*/
/*	transform: translate(100px);*/
/*	opacity: 0;*/
/*	transition: 0.5s;*/
/*}*/

/*.container .card:hover .content {*/
/*	transform: translate(0px);*/
/*	opacity: 1;*/
/*}*/

.container-gc .card-gc .content-gc h2 {
	position: absolute;
	top: -80px;
	right: 30px;
	font-size: 8em;
	color: rgba(255, 255, 255, 0.05);
	pointer-events: none;

}


.container-gc .card-gc .content-gc h3 {
	font-size: 1.8em;
	color: white;
	z-index: 1;
}

.container-gc .card-gc .content-gc p {
	font-size: 1em;
	color: white;
	font-weight: 300;
}

.container-gc .card-gc .content-gc a {
	position: relative;
	display: inline-block;
	padding: 8px 20px;
	margin-top: 15px;
	background: white;
	color: black;
	border-radius: 20px;
	text-decoration: none;
	font-weight: 500;
	box-shadow: 0 5px;
}



