.container {
  position: absolute;
  /*z-index: 2;*/
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.heart {
  position: absolute;
  width: 40px;
  z-index: 3;
  height: 40px;
  background-color: indianred;
  transform: rotate(45deg);
  box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.2);
}
.heart2 {
  background: #1090f6;
  z-index: 3;
  position: absolute;
  width: 40px;
  height: 40px;
  transform: rotate(45deg);
  box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.2);
}
